### Specific Files
output.txt
reference_data/graham_neubig.py
/splat_tests.py
/emily_features.sh
/test2.py
### Directories
asd_data/**/*
test_data/**/*
reference_data/**/*
.idea/**/*
### File Types
*~
*.pyc

