### Specific Files
output.txt
reference_data/graham_neubig.py
splat_tests.py
### Directories
asd_data/**/*
/test.py
test_data/**/*
reference_data/**/*
documentation/**/*
.idea/**/*
### File Types
*~
*.pyc

transfer_time.py
transfer_time.py.save